#ifndef CONFIG_H
#define CONFIG_H

#define OPENAI_API_KEY ""
#define OPENAI_API_URL "https://generativelanguage.googleapis.com/v1beta/openai"

#define NETWORK_SSID ""
#define NETWORK_PASSWORD ""

#define UART_PORT_NUM      UART_NUM_1
#define UART_BAUD_RATE     38400
#define UART_TX_PIN        1
#define UART_TX_BUF_SIZE   4096
#define UART_RX_PIN        3
#define UART_RX_BUF_SIZE   4096

#endif // CONFIG_H